tests/issues/src/main/resources/class.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:issues:class"
	targetNamespace="urn:issues:class"
	elementFormDefault="qualified"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	xmlns:annox="urn:jvnet.org:basicjaxb:xjc:annox"
	jaxb:extensionBindingPrefixes="annox"
	jaxb:version="3.0"
>

	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.jvnet.hyperjaxb_annox.tests.issues._class" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="issueGH1AnnotateType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate>@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotate")</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
		</xs:sequence> 
	</xs:complexType>
	<xs:complexType name="issueGH1AnnotateClassType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotateClass>@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotateClass")</annox:annotateClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
		</xs:sequence> 
	</xs:complexType>
	<xs:complexType name="issueGH1AnnotateTargetClassType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate target="class">@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotate.target.class")</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
		</xs:sequence> 
	</xs:complexType>
	<xs:complexType name="issueGH1FieldAnnotateTargetClassType">
		<xs:sequence>
			<xs:element name="a" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="class">@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotate.target.class")</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence> 
	</xs:complexType>
	<xs:complexType name="issueGH1FieldAnnotateClassType">
		<xs:sequence>
			<xs:element name="a" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotateClass>@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotateClass")</annox:annotateClass>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence> 
	</xs:complexType>
	<xs:complexType name="issueGH1FieldAnnotatePropertyTargetClassType">
		<xs:sequence>
			<xs:element name="a" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotateProperty target="class">@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.Marked("annotateProperty.target.class")</annox:annotateProperty>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence> 
	</xs:complexType>
</xs:schema>
