tests/annox/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema jaxb:version="3.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	xmlns:annox="urn:jvnet.org:basicjaxb:xjc:annox" 
	jaxb:extensionBindingPrefixes="annox"
	xmlns:a="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
>

	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema"/>
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element name="zero" type="zero"/>

	<xsd:complexType name="zero">
		<xsd:sequence>
			<xsd:element name="a" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<annox:annotate>
							<a:Alpha longField="-1" enumField="SIX" stringField="seven">
								<intField>0</intField>
								<shortField>3</shortField>
							</a:Alpha>
						</annox:annotate>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="b" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="one" type="one"/>
	<xsd:complexType name="one">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate>
				<A
					xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
					booleanField="false" byteField="0" charField="a"
					classField="java.lang.String" anotherClassField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One" doubleField="1" enumField="ONE"
					floatField="2.3" intField="4" longField="5" shortField="6"
					stringField="7">
					<annotationField>
						<B booleanArrayField="false true" byteArrayField="0 1"
							charArrayField="a b"
							classArrayField="java.lang.String java.lang.Boolean"
							anotherClassArrayField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two"
							doubleArrayField="2 3" enumArrayField="ONE TWO"
							floatArrayField="4.5 6.7" intArrayField="8 9"
							longArrayField="10 11" shortArrayField="12 13"
							stringArrayField="14 15">
							<stringArrayField>16</stringArrayField>
							<stringArrayField>17</stringArrayField>
							<annotationArrayField>
								<C
									annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
								<C
									annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
							</annotationArrayField>
						</B>
					</annotationField>
				</A>
					</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="two" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<annox:annotate>
							
							<A
								xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
								booleanField="false" byteField="0" charField="a"
								classField="java.lang.String" doubleField="1"
								enumField="ONE" floatField="2.3" intField="4"
								longField="5" shortField="6" stringField="7">
								<annotationField>
									<B booleanArrayField="false true"
										byteArrayField="0 1" charArrayField="a b"
										classArrayField="java.lang.String java.lang.Boolean"
										anotherClassArrayField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One"
										doubleArrayField="2 3"
										enumArrayField="ONE TWO"
										floatArrayField="4.5 6.7"
										intArrayField="8 9"
										longArrayField="10 11"
										shortArrayField="12 13"
										stringArrayField="14 15">
										<stringArrayField>16</stringArrayField>
										<stringArrayField>17</stringArrayField>
										<annotationArrayField>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
										</annotationArrayField>
									</B>
								</annotationField>
							</A>
						</annox:annotate>
						<annox:annotate target="field">
						    <A
								xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
								booleanField="false" byteField="0" charField="a"
								classField="java.lang.String" doubleField="1"
								enumField="ONE" floatField="2.3" intField="4"
								longField="5" shortField="6" stringField="7">
								<annotationField>
									<B booleanArrayField="false true"
										byteArrayField="0 1" charArrayField="a b"
										classArrayField="java.lang.String java.lang.Boolean"
										anotherClassArrayField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One"
										doubleArrayField="2 3"
										enumArrayField="ONE TWO"
										floatArrayField="4.5 6.7"
										intArrayField="8 9"
										longArrayField="10 11"
										shortArrayField="12 13"
										stringArrayField="14 15">
										<stringArrayField>16</stringArrayField>
										<stringArrayField>17</stringArrayField>
										<annotationArrayField>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
										</annotationArrayField>
									</B>
								</annotationField>
							</A>
						</annox:annotate>
						<annox:annotate target="setter">
							<A
								xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
								booleanField="false" byteField="0" charField="a"
								classField="java.lang.String" doubleField="1"
								enumField="ONE" floatField="2.3" intField="4"
								longField="5" shortField="6" stringField="7">
								<annotationField>
									<B booleanArrayField="false true"
										byteArrayField="0 1" charArrayField="a b"
										classArrayField="java.lang.String java.lang.Boolean"
										anotherClassArrayField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One"
										doubleArrayField="2 3"
										enumArrayField="ONE TWO"
										floatArrayField="4.5 6.7"
										intArrayField="8 9"
										longArrayField="10 11"
										shortArrayField="12 13"
										stringArrayField="14 15">
										<stringArrayField>16</stringArrayField>
										<stringArrayField>17</stringArrayField>
										<annotationArrayField>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
										</annotationArrayField>
									</B>
								</annotationField>
							</A>
						</annox:annotate>
						<annox:annotate target="class">
							<A
								xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations"
								booleanField="false" byteField="0" charField="a"
								classField="java.lang.String" doubleField="1"
								enumField="ONE" floatField="2.3" intField="4"
								longField="5" shortField="6" stringField="7">
								<annotationField>
									<B booleanArrayField="false true"
										byteArrayField="0 1" charArrayField="a b"
										classArrayField="java.lang.String java.lang.Boolean"
										anotherClassArrayField="org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One"
										doubleArrayField="2 3"
										enumArrayField="ONE TWO"
										floatArrayField="4.5 6.7"
										intArrayField="8 9"
										longArrayField="10 11"
										shortArrayField="12 13"
										stringArrayField="14 15">
										<stringArrayField>16</stringArrayField>
										<stringArrayField>17</stringArrayField>
										<annotationArrayField>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
											<C
												annox:class="org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B$C"/>
										</annotationArrayField>
									</B>
								</annotationField>
							</A>
						</annox:annotate>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:simpleType name="two">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate>
					<F xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations" value="enum type" />
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="alpha">
				<xsd:annotation>
					<xsd:appinfo>
						<annox:annotate>
							<F xmlns="urn:jvnet.org:basicjaxb:xjc:annox:org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations" value="enum constant" />
						</annox:annotate>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="three" type="three"/>
	<xsd:complexType name="three">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate>
				@org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.A(
					booleanField = false,
					byteField = 0,
					charField = 'a',
					classField = double.class,
					anotherClassField=org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One.class,
					doubleField = 1,
					enumField = org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.E.ONE,
					floatField = 2.3f,
					intField = 4,
					longField = 5,
					shortField = 6,
					stringField = "7",
					annotationField = @org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B(
						booleanArrayField = { false, true },
						byteArrayField = { 0, 1 },
						charArrayField = { 'a', 'b' },
						classArrayField = { java.lang.String.class, java.lang.Boolean.class, java.lang.String[][][].class, double.class },
						anotherClassArrayField= {org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.One.class, org.jvnet.hyperjaxb_annox.plugin.annotate.test.annox.schema.Two.class },
						doubleArrayField = { 2, 3 },
						enumArrayField = { org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.E.ONE, org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.E.TWO },
						floatArrayField = { 4.5f, 6.7f },
						intArrayField = { 8, 9 },
						longArrayField = { 10, -9223372036854775808L },
						shortArrayField = { 12, 13 },
						stringArrayField = { "14", "15", "16", "17" },
						annotationArrayField = { @org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B.C, @org.jvnet.hyperjaxb_annox.plugin.annotate.tests.annotations.B.C }))
					</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="four" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
